.error {
    color: var(--danger);
    font-style: italic;
}


.btnFinal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}